<section id="featured-image-section" class="mx-2">
<img class="object-contain max-w-64 max-h-64 md:w-full lg:max-w-full lg:max-h-full md:h-full mx-auto" src="https://images.unsplash.com/photo-1518070588484-2b53926cba76?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80">
</section>