<section id="featured-image-section" class="block mx-2 md:z-30 relative">
<img class="object-contain max-w-64 max-h-64 md:w-full md:max-h-full" src="https://images.unsplash.com/photo-1508764918591-0536ff94fb36">
</section>