<section class="md:flex md:flex-row mx-2 md:space-x-4 md:w-3/4 md:mx-auto">
    <div class="w-32 h-32 mx-auto md:mx-0 bg-black">
        <img class="object-cover" src="https://jangkah.id/wp-content/uploads/2022/12/294058109_1171103963435947_674854073925938782_n-768x768.jpg.webp">
    </div>
    <div class="font-raleway text-center md:text-left md:w-3/4">
        <h1 class="text-xl font-light ">Naufal Mahdi</h1>
        <h2 class="text-base font-thin italic">Peneliti, Praktisi</h2>
        <div class="text-sm text-justify font-normal my-4">
        <p>
            Quisque sagittis orci ut diam condimentum, vel euismod erat placerat. 
            In iaculis arcu eros, eget tempus orci facilisis id. 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.
        </p>
        </div>
        <h3 class="text-sm font-thin italic">@naufal.mahdi</h3>
    </div>

</section>