---
import CategoryPost from '../Category/CategoryPost.astro'
---

<section class="flex md:mx-12 overflow-auto">
    <div class="w-full grid grid-flow-col md:grid-flow-row overflow-auto md:overflow-none md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-12">
                <CategoryPost title={'Manggala'} 
                    post1={{
                        title:'Kritik Poerbatjaraka atas Suntingan Kakawin Ramayana Karya H.Kern',
                        author:'Tio Cahya Sadewa'
                    }}
                    post2={{
                        title:'Naskah Merapi-Merbabu dalam Jaringan Skriptorium',
                        author:'Naufal Mahdi'
                    }}
                    post3={{
                        title:'Manurung: Jarak antara Bangsawan dan Budak adalah Puisi',
                        author:'Penulis Anonim'
                    }} />
                <CategoryPost title={'Prasi'} 
                    post1={{
                        title:'Kritik Poerbatjaraka atas Suntingan Kakawin Ramayana Karya H.Kern',
                        author:'Tio Cahya Sadewa'
                    }}
                    post2={{
                        title:'Naskah Merapi-Merbabu dalam Jaringan Skriptorium',
                        author:'Naufal Mahdi'
                    }}
                    post3={{
                        title:'Manurung: Jarak antara Bangsawan dan Budak adalah Puisi',
                        author:'Penulis Anonim'
                    }} />
                <CategoryPost title={'Karas'} 
                    post1={{
                        title:'Kritik Poerbatjaraka atas Suntingan Kakawin Ramayana Karya H.Kern',
                        author:'Tio Cahya Sadewa'
                    }}
                    post2={{
                        title:'Naskah Merapi-Merbabu dalam Jaringan Skriptorium',
                        author:'Naufal Mahdi'
                    }}
                    post3={{
                        title:'Manurung: Jarak antara Bangsawan dan Budak adalah Puisi',
                        author:'Penulis Anonim'
                    }} />
                <CategoryPost title={'Pustaka'} 
                    post1={{
                        title:'Kritik Poerbatjaraka atas Suntingan Kakawin Ramayana Karya H.Kern',
                        author:'Tio Cahya Sadewa'
                    }}
                    post2={{
                        title:'Naskah Merapi-Merbabu dalam Jaringan Skriptorium',
                        author:'Naufal Mahdi'
                    }}
                    post3={{
                        title:'Manurung: Jarak antara Bangsawan dan Budak adalah Puisi',
                        author:'Penulis Anonim'
                    }} />
                <CategoryPost title={'Skriptorium'} 
                    post1={{
                        title:'Kritik Poerbatjaraka atas Suntingan Kakawin Ramayana Karya H.Kern',
                        author:'Tio Cahya Sadewa'
                    }}
                    post2={{
                        title:'Naskah Merapi-Merbabu dalam Jaringan Skriptorium',
                        author:'Naufal Mahdi'
                    }}
                    post3={{
                        title:'Manurung: Jarak antara Bangsawan dan Budak adalah Puisi',
                        author:'Penulis Anonim'
                    }} />
                <CategoryPost title={'Wara'} 
                    post1={{
                        title:'Kritik Poerbatjaraka atas Suntingan Kakawin Ramayana Karya H.Kern',
                        author:'Tio Cahya Sadewa'
                    }}
                    post2={{
                        title:'Naskah Merapi-Merbabu dalam Jaringan Skriptorium',
                        author:'Naufal Mahdi'
                    }}
                    post3={{
                        title:'Manurung: Jarak antara Bangsawan dan Budak adalah Puisi',
                        author:'Penulis Anonim'
                    }} />
    </div>
</section>

<script>
    import Swiper, { Navigation, Pagination } from 'swiper';
      // import Swiper and modules styles
    import 'swiper/css';
    import 'swiper/css/navigation';
    Swiper.use([Navigation, Pagination]);
    const swiperCategory = new Swiper('.swiper-category', {
      speed: 4500,
      slidesPerView: 1,
      rewind: true,
      navigation: {
            nextEl: '.swiper-button-next-unique',
            prevEl: '.swiper-button-prev-unique',
        },
        breakpoints: {
            640: {
              slidesPerView: 2,
              spaceBetween: 10,
            },
            1024: {
                slidesPerView: 3.2,
                spaceBetween: 20,
              },
            1248: {
              slidesPerView: 4.3,
              spaceBetween: 20,
            },
          },
    });
    </script>