---
const {name} = Astro.props;
---

<li class="inline-block md:block my-4 lg:my-0 lg:border-transparent uppercase">
    <a href="#" class="font-raleway not-italic font-bold text-[#D9D9D9] hover:text-white lg:text-lg xl:text-xl leading-6 duration-500">
    {name}
    </a>
</li>
