---
import Menu from './Menu.astro'
---

<nav class="navbar flex justify-center hover:justify-between bg-brown border-b border-gray-400 p-2 md:pt-2 md:px-16 group sticky top-0 w-full z-40 overflow-hidden ease-in duration-1000">

  <div class="items-center ease-in lg:group-hover:duration-500 pb-2">
    <img src="/logo.png" class="mx-auto w-1/2 md:w-auto md:h-[80px] cursor-pointer">
    </div>

      <!-- NAVIGATION MENUS -->
      <div class="flex menu gap-1 text-lg space-x-2 absolute opacity-0 h-0 xl:space-x-4 text-center lg:group-hover:opacity-100 lg:group-hover:relative lg:group-hover:h-auto lg:group-hover:duration-[2000ms] items-center ease-in-out duration-0">
        <Menu name='Ajar'/>
        <Menu name='Pustaka'/>
        <Menu name='Manggala'/>
        <Menu name='Karas'/>
        <Menu name='Prasi'/>
        <Menu name='Skriptorium'/>
        <Menu name='Katalog'/>
        <Menu name='Wara'/>
        <Menu name='Peta Naskah'/>
        <Menu name='Kirim Tulisan'/>
      </div>
  </nav>