:root {
    --swiper-pagination-color: #693305;
    --swiper-pagination-left: auto;
    --swiper-pagination-right: 8px;
    --swiper-pagination-bottom: 8px;
    --swiper-pagination-top: auto;
    --swiper-pagination-fraction-color: #693305;
    --swiper-pagination-progressbar-bg-color: #D8D9D8;
    --swiper-pagination-progressbar-size: 4px;
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 5px;
    --swiper-pagination-bullet-inactive-color: #D8D9D8;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bullet-vertical-gap: 6px;
}

@media only screen and (min-width: 1024px) {
    .swiper-pagination {
        left: 33% !important;
    }
    :root {
        --swiper-pagination-bullet-width: 15px;
        --swiper-pagination-bullet-height: 10px;
    }    
}
