<section class="flex flex-col md:flex-row bg-brown justify-center py-2 md:py-5 space-x-5">
    <div class="font-raleway text-white text-sm font-normal text-center md:text-right px-3 md:px-0 md:w-1/4 py-3">
        <p>
        <b>Jangkah.id</b> adalah sebuah portal yang dipersembahkan untuk mendukung terwujudnya masyarakat yang berbudaya dan menjunjung tinggi kedamaian semesta.
        </p>
    </div>
    <div>
        <img class="mx-auto h-[100px] w-[100px]" src="https://jangkah.id/wp-content/uploads/2021/03/logo-footer-01-300x300.png.webp" alt="Logo Jangkah Kecil" />
    </div>
    <div class="font-raleway text-white text-sm font-normal text-center md:text-left px-3 md:px-0 md:w-1/4 space-y-2 py-3">
        <p>
        Jl. Imogiri Timur Km. 10, Wonokromo I, RT. 01, Wonokromo, Pleret, Bantul, Yogyakarta. 55791
        </p>
        <p>
        +62878-8998-0505
        </p>
        <p>
        official@jangkah.id
        </p>
    </div>
</section>