---
import Post from '../Post/Post.astro';
---

<section id="map-section" class="grid grid-cols-1 lg:grid-cols-8 gap-2 mx-2 md:mx-12">
    <div id="post" class="lg:col-span-2 lg:hover:col-span-4 flex flex-col group/post peer/post outline outline-2 outline-brown overflow-clip hover:overflow-scroll shadow-[0_4px_5px_0px_rgba(#693305)] shadow-brown border border-brown">
        <div id="postCategory" class="flex flex-row bg-brown font-raleway font-bold text-lg md:text-sm lg:text-sm text-[#D9D9D9] text-center lg:px-5 px-10 py-2">
            <h2 class="group transition mx-auto">
                <a href="#terbaru" id="terbaru">Terbaru</a>
            <span class="block max-w-0 group-hover:max-w-full transition-all duration-1000 h-0.5 bg-white"></span>
            </h2>
            <h2 class="group transition mx-auto">
                <a href="#terpopuler" id="terpopuler">Terpopuler</a>
            <span class="block max-w-0 group-hover:max-w-full transition-all duration-1000 h-0.5 bg-white"></span>
            </h2>
        </div>
        <div class="flex flex-row py-2 lg:h-72">
        <div id="postTerbaru" class="flex flex-col px-10 md:px-5 divide-y-2 divide-dotted divide-brown">
                <Post title={'Kritik Poerbatjaraka atas Suntingan Kakawin Ramayana Karya H.Kern'} author={'Tio Cahya Sadewa'} />
                <Post title={'Naskah Merapi-Merbabu dalam Jaringan Skriptorium'} author={'Naufal Mahdi'} />
                <Post title={'Kritik Poerbatjaraka atas Suntingan Kakawin Ramayana Karya H.Kern'} author={'Tio Cahya Sadewa'} />
                <Post title={'Naskah Merapi-Merbabu dalam Jaringan Skriptorium'} author={'Naufal Mahdi'} />
            </div>
            <div id="postTerpopuler" class="hidden lg:hidden lg:group-hover/post:flex flex-col px-10 md:px-5 divide-y-2 divide-dotted divide-brown">
                <Post title={'Lorem Ipsum Dolor sit amet'} author={'Tio Cahya Sadewa'} />
                <Post title={'Lorem Ipsum Dolor sit amet'} author={'Naufal Mahdi'} />
                <Post title={'Lorem Ipsum Dolor sit amet'} author={'Penulis Anonim'} />
                <Post title={'Kritik Poerbatjaraka atas Suntingan Kakawin Ramayana Karya H.Kern'} author={'Tio Cahya Sadewa'} />
            </div>
        </div>
    </div>
    <div id="mapContainer" class="w-full lg:col-span-4 my-2 lg:my-0 self-stretch duration-1000 ease-in shrink flex peer-hover/post:lg:col-span-2">
        <div id="map" class="h-72 w-full lg:h-full lg:mx-5 self-center shadow-[0_4px_5px_0px_rgba(#693305)] shadow-brown border border-brown z-10">
        </div>
    </div>
        <div id="diskusi" class="lg:col-span-2 lg:hover:col-span-4 lg:hover:h-full flex flex-col md:flex-row group/diskusi shadow-[0_4px_5px_0px_rgba(#693305)] shadow-brown border border-brown overflow-auto justify-between">
            <div class="order-2 lg:order-none flex lg:hidden lg:group-hover/diskusi:flex lg:group-hover/diskusi:w-full flex-col m-6 space-y-3 py-2">
                <h1 class="text-xl text-brown text-raleway">Diskusi Rutin #99</h1>
                <article class="text-sm">
                    Naskah kuno yang dituliskan oleh leluhur-leluhur kita memuat banyak ajaran atau piwulang luhur yang dapat kita pelajari. Piwulang yang banyak terekam dalam naskah kuno di antaranya adalah piwulang tentang wanita.
                </article>
                <span class="space-x-2 text-brown text-sm"><a href="#" class="hover:underline duration-500">Lihat Rekaman</a> <a href="#" class="hover:underline">Baca Pengantar</a></span>
            </div>
            <div class="md:w-full lg:group-hover/diskusi:w-full">
            <img class="w-full h-auto md:h-full md:w-auto p-1 object-contain" src="https://jangkah.id/wp-content/uploads/2021/03/JAGONGAN-NASKAH-38-012-768x768.jpg.webp"></img>
            </div>
        </div>
    </section>

<script>
var map = L.map('map').setView([-7.80107,110.37584], 13);
L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="#">Jangkah</a>'
}).addTo(map);
var marker = L.marker([-7.80149,110.37572]).addTo(map);
marker.bindPopup("<h1>Naskah Jangkah</h1><br> Lorem Ipsum").openPopup();
marker._icon.classList.add("text-brown");
var marker2 = L.marker([-7.80397,110.36349]).addTo(map);
marker2.bindPopup("<h1>Skrip</h1><br> Lorem Ipsum").openPopup();
marker2._icon.classList.add("text-brown");
</script>

<script>
    const post = document.querySelector("#post");
    const postCategory = document.querySelector("#postCategory");
    const map = document.querySelector("#mapContainer");
    const diskusi = document.querySelector("#diskusi");
    const laptop = window.matchMedia("(min-width: 1024px)");
    const tablet = window.matchMedia("(max-width: 768px)");
    const linkTerbaru = document.querySelector("#terbaru");
    const linkTerpopuler = document.querySelector("#terpopuler");
    const postTerbaru = document.querySelector("#postTerbaru");
    const postTerpopuler = document.querySelector("#postTerpopuler");
    if (laptop.matches) {
        diskusi.addEventListener("mouseenter", shrinkAll);
        diskusi.addEventListener("mouseleave", shrinkAllReverse);
    }
    if (tablet.matches){
        linkTerbaru.addEventListener("click", showTerbaru);
        linkTerpopuler.addEventListener("click", showPopuler);
    }
    function shrinkAll() {
        map.classList.add("lg:col-span-2");
        map.classList.remove("lg:col-span-4");
    }
    function shrinkAllReverse() {
        map.classList.remove("lg:col-span-2");
        map.classList.add("lg:col-span-4");
    }
    function showPopuler(){
        postTerpopuler.classList.remove("hidden");
        postTerpopuler.classList.add("flex");
        postTerbaru.classList.add("hidden");
        postTerbaru.classList.remove("flex");
    }
    function showTerbaru(){
        postTerbaru.classList.remove("hidden");
        postTerbaru.classList.add("flex");
        postTerpopuler.classList.add("hidden");
        postTerpopuler.classList.remove("flex");
    }
</script>